* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  line-height: 1.6;
  overflow-x: hidden;
  background-image:
    radial-gradient(
      circle at top right,
      rgba(129, 199, 132, 0.15),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(46, 125, 50, 0.1),
      transparent 40%
    );
  background-attachment: fixed;
}
